/* Ending4.module.css */
.container {
    width: 1000px;
    height: 650px;
    margin: 0 auto;

    background-color: black;
    color: white;
}

.logo {
    height: 120px;
    top: 50px;
    text-shadow: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    margin-left: 20px;
    z-index: 2; /* 배경 이미지는 제일 아래로 */
    position: absolute; /* 절대 위치 지정 */
}

.background {
    width: 1000px;
    height: 650px;
    position: absolute;
    z-index: 0;
}

.leftImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    position: absolute; /* 절대 위치 지정 */
    margin-left: 10%;
    margin-top: 20%;
    z-index: 2; /* 배경 이미지는 제일 아래로 */
}
.imoji {
    position: absolute; /* 절대 위치 지정 */
    z-index: 2; /* 배경 이미지는 제일 아래로 */
    width: 1000px;
    left: 300px;
    margin-left: 20%;
    margin-top: 17%;
    font-size: 100px;
}
.righttext {
    position: absolute; /* 절대 위치 지정 */
    z-index: 2; /* 배경 이미지는 제일 아래로 */
    width: 1000px;
    left: 300px;
    margin-left: 20%;
    margin-top: 25%;
    font-size: 30px;
}

.returnButton {
    background-color: rgb(255, 174, 43);
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    font-family: 'DNFForgedBlade-Bold', sans-serif;
    z-index: 2; /* 배경 이미지는 제일 아래로 */
    position: absolute; /* 절대 위치 지정 */
    left: 950px;
    top: 550px;
}

.title {
    margin-right: 60px;
}
