.gender-selection {
    width: 1000px;
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.gender-selection h1 {
    margin-bottom: 50px;
}

.gender-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.gender-button {
    background: none;
    border: none;
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gender-button img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gender-button.selected img {
    transform: scale(1.1);
    /* box-shadow: 0 0 10px rgba(255, 255, 0, 0.8); */
}

.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
