.container {
    width: 1000px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'DNFForgedBlade', sans-serif;
}

.topSection {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.logoImage {
    width: 100px;
    height: auto;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-right: 60px;
}

.middleSection {
    height: 300px;
    display: flex;
}

.leftImage,
.rightImage {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: auto;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100px;
    text-decoration: none;
}

.description {
    width: 680px;
    font-size: 19px;
    line-height: 1.5;
    margin-left: 30px;
}

.closeButton {
    background-color: #ff9900;
    border: none;
    padding: 10px 20px;
    font-size: 34px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-family: 'DNFForgedBlade', sans-serif;
    border-radius: 50px 50px 50px 50px;
    margin-top: 140px;
}
