.name-selection {
    position: relative;
    width: 1000px;
    height: 650px;
    background-color: black;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.input-label {
    font-size: 36px;
    margin-bottom: 20px;
    display: block;
    font-family: "DNFForgedBlade", sans-serif;
    font-weight: 500;
}

.bold-text {
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-input {
    width: 500px;
    padding: 15px;
    font-size: 24px;
    border: none;
    border-radius: 25px 25px 25px 25px;
    font-family: "DNFForgedBlade", sans-serif;
    font-weight: 500;
}

.name-input::placeholder {
    color: lightgray;
    font-weight: normal;
}

.submit-button {
    background-color: orange;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 25px;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    font-family: "DNFForgedBlade", sans-serif;
    font-weight: 500;
    white-space: nowrap; /* Ensure the text is not wrapped */
}

.submit-button:hover {
    background-color: darkorange;
}
