.situation-description {
    position: relative;
    width: 1000px;
    height: 650px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-image {
    width: 1000px;
    height: 650px;
    object-fit: cover;
}

.next-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DNFForgedBlade", sans-serif;
    font-weight: 500;
}

.next-button:hover {
    background-color: darkorange;
}
