/* @font-face {
    font-family: 'DNF Forged Blade';
    src: url('/fonts/DNFForgedBlade-Light.otf') format('opentype'),
        url('/fonts/DNFForgedBlade-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'DNF Forged Blade', sans-serif;
} */
